In [9]:
import pandas as pd
import numpy as np
import sweetviz as sv

In [12]:
df = pd.read_csv('Columbia_Final.csv')
df.head()

,id,member_id,CLI,term,int_rate,installment,grade,sub_grade,emp_length,annual_inc,...,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_amnt
0,1077501,1296599,5000,36 months,10.65,162.87,B,B2,10+ years,24000.0,...,83.7,9,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,171.62
1,1077430,1314167,2500,60 months,15.27,59.83,C,C4,< 1 year,30000.0,...,9.4,4,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,119.66
2,1077175,1313524,2400,36 months,15.96,84.33,C,C5,10+ years,12252.0,...,98.5,10,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,649.91
3,1076863,1277178,10000,36 months,13.49,339.31,C,C1,10+ years,49200.0,...,21.0,37,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,357.48
4,1075358,1311748,3000,60 months,12.69,67.79,B,B5,1 year,80000.0,...,53.9,38,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,67.79

In [16]:
my_eda = sv.analyze(df)
my_eda.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [14]:
df2 = pd.read_csv('Trained_Columbia.csv')
df2.head()

,id,member_id,CLI,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,emp_length_7 years,emp_length_8 years,emp_length_9 years,emp_length_< 1 year,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,loan_status_Charged Off,loan_status_Current,loan_status_Fully Paid
0,1077501,1296599,5000,10.65,162.87,24000.0,27.65,0,1,3,...,0,0,0,0,0,0,1,0,0,1
1,1077430,1314167,2500,15.27,59.83,30000.0,1.00,0,5,3,...,0,0,0,1,0,1,0,1,0,0
2,1077175,1313524,2400,15.96,84.33,12252.0,8.72,0,2,2,...,0,0,0,0,1,0,0,0,0,1
3,1076863,1277178,10000,13.49,339.31,49200.0,20.00,0,1,10,...,0,0,0,0,0,1,0,0,0,1
4,1075358,1311748,3000,12.69,67.79,80000.0,17.94,0,0,15,...,0,0,0,0,0,1,0,0,1,0

In [15]:
my_eda2 = sv.analyze(df2)
my_eda2.show_html()

                                             |          | [  0%]   00:00 -> (? left)

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.